.anime-bg{
  position:absolute;
  inset:0;
  z-index:0;
  overflow:hidden;
}

.anime-bg img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:center;
  opacity:.48;
  filter:saturate(1.25) contrast(1.15);
  animation:animeMove 8s ease-in-out infinite alternate;
}

.anime-bg::after{
  content:"";
  position:absolute;
  inset:0;
  background:
    linear-gradient(
      180deg,
      rgba(4,2,12,.25),
      rgba(4,2,12,.72) 70%,
      #030308 100%
    );
}

@keyframes animeMove{
  from{
    transform:scale(1.03) translateX(-8px);
  }
  to{
    transform:scale(1.10) translateX(8px);
  }
}

.energy{
  position:absolute;
  border-radius:50%;
  filter:blur(35px);
  opacity:.35;
  z-index:1;
  animation:energyMove 5s infinite alternate;
}

.energy1{
  width:180px;
  height:180px;
  background:#2563eb;
  left:-50px;
  top:30%;
}

.energy2{
  width:200px;
  height:200px;
  background:#9333ea;
  right:-60px;
  top:45%;
  animation-delay:1s;
}

.energy3{
  width:120px;
  height:120px;
  background:#06b6d4;
  left:40%;
  top:20%;
  animation-delay:2s;
}

@keyframes energyMove{
  from{
    transform:translate(0,0) scale(.8);
  }
  to{
    transform:translate(30px,-35px) scale(1.3);
  }
}
